
.ipynb_checkpoints/CV_SEGA_explo_3-checkpoint.ipynb
/object_detection
/_archives/object_detection
.ipynb_checkpoints/CV_SEGA_model_keypoints_2_1-checkpoint.ipynb
.ipynb_checkpoints/CV_SEGA_model_keypoints_2_3-checkpoint.ipynb
_archives/.ipynb_checkpoints/CV_SEGA_explo_7-checkpoint.ipynb
